In [1]:
pip install sklearn

Requirement already satisfied: sklearn in c:\users\lipp9\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (0.0.post1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\lipp9\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (1.5.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\lipp9\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in c:\users\lipp9\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\lipp9\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\lipp9\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\lipp9\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in c:\users\lipp9\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\lipp9\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (3.6.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\lipp9\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lipp9\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib) (4.38.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\lipp9\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib) (9.3.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lipp9\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib) (1.0.6)
Requirement already satisfied: packaging>=20.0 in c:\users\lipp9\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib) (21.3)
Requirement already satisfied: numpy>=1.19 in c:\users\lipp9\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib) (1.23.5)
Requirement already satisfied: cycler>=0.10 in c:\users\lipp9\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lipp9\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\lipp9\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: six>=1.5 in c:\users\lipp9\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip install seaborn

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

ModuleNotFoundError: No module named 'sklearn'

In [3]:
df = pd.read_excel(r"C:\Users\lipp9\Downloads\538 - house.xlsx")
df.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,65.0,8450,7,5,2003,2003,196.0,Gd,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,80.0,9600,6,8,1976,1976,0.0,TA,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,68.0,11250,7,5,2001,2002,162.0,Gd,...,0,42,0,0,0,0,0,9,2008,223500
3,4,70,60.0,9550,7,5,1915,1970,0.0,TA,...,0,35,272,0,0,0,0,2,2006,140000
4,5,60,84.0,14260,8,5,2000,2000,350.0,Gd,...,192,84,0,0,0,0,0,12,2008,250000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 40 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   LotFrontage    1201 non-null   float64
 3   LotArea        1460 non-null   int64
 4   OverallQual    1460 non-null   int64
 5   OverallCond    1460 non-null   int64
 6   YearBuilt      1460 non-null   int64
 7   YearRemodAdd   1460 non-null   int64
 8   MasVnrArea     1452 non-null   float64
 9   ExterQual      1460 non-null   object
 10  ExterCond      1460 non-null   object
 11  BsmtFinSF1     1460 non-null   int64
 12  BsmtFinSF2     1460 non-null   int64
 13  BsmtUnfSF      1460 non-null   int64
 14  TotalBsmtSF    1460 non-null   int64
 15  1stFlrSF       1460 non-null   int64
 16  2ndFlrSF       1460 non-null   int64
 17  LowQualFinSF   1460 non-null   int64
 18  GrLivArea      1460 non-null   int64
 19  BsmtFullBath   1460 non-null   int64
 20  BsmtHalfBath   1460 non-null   int64
 21  FullBath       1460 non-null   int64
 22  HalfBath       1460 non-null   int64
 23  BedroomAbvGr   1460 non-null   int64
 24  KitchenAbvGr   1460 non-null   int64
 25  TotRmsAbvGrd   1460 non-null   int64
 26  Fireplaces     1460 non-null   int64
 27  GarageYrBlt    1379 non-null   float64
 28  GarageCars     1460 non-null   int64
 29  GarageArea     1460 non-null   int64
 30  WoodDeckSF     1460 non-null   int64
 31  OpenPorchSF    1460 non-null   int64
 32  EnclosedPorch  1460 non-null   int64
 33  3SsnPorch      1460 non-null   int64
 34  ScreenPorch    1460 non-null   int64
 35  PoolArea       1460 non-null   int64
 36  MiscVal        1460 non-null   int64
 37  MoSold         1460 non-null   int64
 38  YrSold         1460 non-null   int64
 39  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(2)
memory usage: 456.4+ KB

In [6]:

df.MasVnrArea.fillna(0, inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 40 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   LotFrontage    1201 non-null   float64
 3   LotArea        1460 non-null   int64
 4   OverallQual    1460 non-null   int64
 5   OverallCond    1460 non-null   int64
 6   YearBuilt      1460 non-null   int64
 7   YearRemodAdd   1460 non-null   int64
 8   MasVnrArea     1460 non-null   float64
 9   ExterQual      1460 non-null   object
 10  ExterCond      1460 non-null   object
 11  BsmtFinSF1     1460 non-null   int64
 12  BsmtFinSF2     1460 non-null   int64
 13  BsmtUnfSF      1460 non-null   int64
 14  TotalBsmtSF    1460 non-null   int64
 15  1stFlrSF       1460 non-null   int64
 16  2ndFlrSF       1460 non-null   int64
 17  LowQualFinSF   1460 non-null   int64
 18  GrLivArea      1460 non-null   int64
 19  BsmtFullBath   1460 non-null   int64
 20  BsmtHalfBath   1460 non-null   int64
 21  FullBath       1460 non-null   int64
 22  HalfBath       1460 non-null   int64
 23  BedroomAbvGr   1460 non-null   int64
 24  KitchenAbvGr   1460 non-null   int64
 25  TotRmsAbvGrd   1460 non-null   int64
 26  Fireplaces     1460 non-null   int64
 27  GarageYrBlt    1379 non-null   float64
 28  GarageCars     1460 non-null   int64
 29  GarageArea     1460 non-null   int64
 30  WoodDeckSF     1460 non-null   int64
 31  OpenPorchSF    1460 non-null   int64
 32  EnclosedPorch  1460 non-null   int64
 33  3SsnPorch      1460 non-null   int64
 34  ScreenPorch    1460 non-null   int64
 35  PoolArea       1460 non-null   int64
 36  MiscVal        1460 non-null   int64
 37  MoSold         1460 non-null   int64
 38  YrSold         1460 non-null   int64
 39  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(2)
memory usage: 456.4+ KB

In [8]:
df

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,65.0,8450,7,5,2003,2003,196.0,Gd,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,80.0,9600,6,8,1976,1976,0.0,TA,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,68.0,11250,7,5,2001,2002,162.0,Gd,...,0,42,0,0,0,0,0,9,2008,223500
3,4,70,60.0,9550,7,5,1915,1970,0.0,TA,...,0,35,272,0,0,0,0,2,2006,140000
4,5,60,84.0,14260,8,5,2000,2000,350.0,Gd,...,192,84,0,0,0,0,0,12,2008,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,62.0,7917,6,5,1999,2000,0.0,TA,...,0,40,0,0,0,0,0,8,2007,175000
1456,1457,20,85.0,13175,6,6,1978,1988,119.0,TA,...,349,0,0,0,0,0,0,2,2010,210000
1457,1458,70,66.0,9042,7,9,1941,2006,0.0,Ex,...,0,60,0,0,0,0,2500,5,2010,266500
1458,1459,20,68.0,9717,5,6,1950,1996,0.0,TA,...,366,0,112,0,0,0,0,4,2010,142125
1459,1460,20,75.0,9937,5,6,1965,1965,0.0,Gd,...,736,68,0,0,0,0,0,6,2008,147500

In [9]:
df.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.117123,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,180.731373,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,164.250000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [10]:
df.SalePrice

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [11]:
df.SalePrice.mean()

180921.19589041095

In [12]:
df.SalePrice.mean() - df.SalePrice.median()

17921.19589041095

In [16]:
df.SalePrice - (df.SalePrice/2)

0       104250.0
1        90750.0
2       111750.0
3        70000.0
4       125000.0
          ...
1455     87500.0
1456    105000.0
1457    133250.0
1458     71062.5
1459     73750.0
Name: SalePrice, Length: 1460, dtype: float64

In [20]:
print("Oi")

ModuleNotFoundError: No module named 'sklearn'